.menu{
    position: absolute;
    display: block;
    z-index: 1000;
    background-color:blueviolet; 
    height: auto;
    top: 103px;
    right: 0;
    transform: translate(100%);
    transition: all 0.6s;
}
.menu.activado{
    position: absolute;
    transform: translate(0);
}
header{
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
}
header.activado{
    position:relative;
    overflow: visible;
}
.menu li{
    margin: 0;
    width: 200px;
    height: 50px;
    border: 2px solid yellow ;
    text-align: center;

}

.menuico{
    background-color: yellow;
    display: block;
    border:2px solid yellow;
}
.menuico:hover{
    border-color:  blueviolet;
}

.slidebtn{
    width: 20px;
    
    font-size: 20px;
}
.dot{
    width: 20px;   
}
.navegacao{
    bottom:0px;
}
.main{
    margin-top: 10px;
}
.moldura{
    background-color: aliceblue;
    margin: 0 auto;
    width: 96vw;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
}
.item{
    height: 40%;
    width: 50%;
}
.col {
    height: 150px;
}
.video{
    height: 550px;
}
.col p{
    font-size: 10px;
}

.item:hover{
    height: 60%;
    width: 60%;
}